header {
  height: 50px;
  color: green;
  background-color: pink;
  text-align: center;
}

header {
  height: 80px;
  color: rgb(60, 4, 124);
  background-color: gray;
  text-align: center;
  font-size: 25px;
}

main {
  height: calc(100vh - 50px - 50px);
  background-color: purple;
}
p {
  font-size: 40px;
}

footer {
  background-color: gray;
  height: 50px;
  text-align: center;
}
.first {
  background-color: skyblue;
}
